.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hintergrund_bild{
  background-image: url("../bilder/hintergrundbild.jpg");
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-basis: 66.66em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: inline-block;
  vertical-align: middle; /* Elemente wird vertikal zentriert */
  width: 75px;
  padding: 0px 25px;
}

header{
  display: flex;
  justify-content: space-between; /* Ordnet die Elemente mit einem Zwischenraum an */
  align-items: center; /* Ordnet die Elemente zentriert entlang der x-Achse an (horizontal) */
  background-image: linear-gradient(to right,  rgba(117, 76, 192, 0.664) ,  rgba(0, 178, 248, 0.267)); /* Linearer Verlauf von links nach rechts */
}

.navigation_liste{
  list-style: none;
}

.navigation_liste li {
  display: inline-block;
  padding: 0px 20px;
}

.navigation_liste li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navigation_liste li a:hover{
  color: lightblue;
  text-decoration: under;
}

.button_signup{
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  background: rgba(209, 208, 208, 0.4); 
  color:rgba(255, 255, 255, 0.8);
  margin: 20px;
}

.button_signup:hover{
  background-color: rgba(117, 76, 192, 0.664);
}

.button_download{
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  background: rgba(209, 208, 208, 0.4); 
  color:rgba(255, 255, 255, 0.8);
  margin: 0px;
}

.button_download:hover{
  background-color: rgba(117, 76, 192, 0.664);
}


.smartphone_container{
  top:19%;
  left:20%;
  right:0;
  bottom:0;
  position: relative;
  display: flex;
  flex-direction: row;

}

.beschreibung_container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  width: 20%;
}

.beschreibung_container h1{
  color: white;
  font-size: 40px;
}

.beschreibung_container p{
  color: white;
  font-size: 20px;
  text-align: justify;
}

.footer_container{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Richtet die ELemente entlang der Hauptachse aus (standard row, dann horizontal). In diesem Fall zenriert. Es gibt auch andere werde wie start -> linksbündig  */
  flex-basis: 33.33em;

}

.footer_container p{
  color: rgba(0, 178, 248, 0.5);
  font-size: 26px;
  text-align: center;
}

.footer_logo{
  width: 200px;
  color: black;
}

